body{

 background-color: white;
	


}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 400px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 539px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}


.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 539px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}


.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 639px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 139px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 110px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 160px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}


.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 700px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}



.modal8 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 570px;
  top: 80;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}



.modal9 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 250px;
  top: 120px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}



.modal10 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 350px;
  top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal11 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 250px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal12 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 450px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}

.modal13 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 350px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}


.modal14 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 100px;
  top: 60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
/*  background-color: ;
*/
}




.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}


.text {
	font-family: Arial;
	position: absolute;
    top: 209px;
    left: 15px;
    font-size: 37px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


.text1 {
  font-family: Arial;
    position: absolute;
    top: 254px;
    left: 15px;
    font-size: 47px;
    font-family: "times new roman";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}

a: {
text-decoration: none;
color: black;
}

a:hover {
background-color: #ffc7f4;
text-decoration: none;
color: blue;
}


a:visited{
text-decoration: none;
-webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


.text2 {
  font-family: Arial;
   position: absolute;
  top: 665px;
  left: 15px;
  font-size: 12px;
  font-family: "apple chancery";
    -webkit-text-stroke: 0px black;
    -webkit-text-fill-color: black;
}


.text3 {
    position: absolute;
    top: 288px;
    left: 499px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;

 
}





img {
 /*height: 500px;*/
  max-width: 9000%;
  max-height: 7000%
}



.pony1 {  
  max-width: 500px;
  border-width: 1px;
  border-color:  #ffc7f4;

  }







.special-img2 {
    z-index: -1;
    width: 690px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 363px;
    border-color:  #ffc7f4;

}


.text5 {
position: absolute;
    top: 267px;
    left: 559px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
}




.text6 {
position: absolute;
       top: 228px;
    left: 536px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
 
}

.text7 {
    position: absolute;
    top: 242px;
    left: 446px;
    z-index: 1;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
 
}

.text8 {
    position: absolute;
    top: 180px;
    left: 672px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
 
}


.text9 {

position: absolute;
    top: 300px;
    left: 850px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
}



.text10 {
position: absolute;
    top: 280px;
    left: 804px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }

.text11 {
    position: absolute;
    top: 290px;
    left: 706px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }

.text12 {
       position: absolute;
    top: 259px;
    left: 617px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
}
    


.text13 {
  position: absolute;
    top: 127px;
    left: 744px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }


    .text14 {
      position: absolute;
    top: 120px;
    left: 594px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;    }

    .text15 {
position: absolute;
    top: 296px;
    left: 899px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }


    .text16 {
    position: absolute;
    top: 152px;
    left: 418px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }

        .text17 {
position: absolute;
    top: 280px;
    left: 399px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }

            .text18 {
position: absolute;
    top: 242px;
    left: 769px;
    font-size: 24px;
    font-family: "times new roman";
    -webkit-text-fill-color: blue;
    }

